# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# База данных
*.db
*.sqlite
*.sqlite3

# Переменные окружения
.env
.env.local

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
desktop.ini

# Временные файлы
*.tmp
*.bak

# Батники (не нужны в репозитории)
*.bat
